html {
    height: 100dvh;
    width: 100%;
    user-select: none
}

.header {
    width: 100%;
    text-align: center;
    color: #f8efed;
    margin-top: 10px;
    padding: 10px;
    
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 430px;
    height: 100dvh;
    background-color: #123c58;
    justify-content: space-evenly;
    border-radius:5px;
}

@media screen and (max-width: 800px) {
   
    .wrapper {
        width:100dvw;
    }
}


.hour-weather {
    display: flex;
    flex-direction: row;
    height: 100px;
    width: 85%;
    background-color: #156d95;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-behavior: smooth;


}

.day-weather {
    text-indent: 10px;
    display: flex;
    flex-direction: column;
    background-color: #156d95;
    width: 85%;
    height: 50%;
    overflow-y: scroll;
}
.day-block {
    border-bottom: 1px solid #a2a8d3;
    
    
    width: 100%;
    min-height: 10%;
    color:#e7eaf6;
    font-size: 20px;
}
.bl {
    user-select: none;
    min-width: 70px;
    text-align: center;
    align-items: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    word-break: break-all;
}
.bl img {
    width: 35px;
}

.img-block {
    width: 35px;
    height: 35px;

}
.Rain {
    background-image: url(./img/icons8-дождь-48.png) ;
    background-size: 35px;
}
.Clouds {
    background-image: url(./img/icons8-облака-48.png) ;
    background-size: 35px;
}
.Clear {
    background-image: url(./img/icons8-солнце-48.png) ;
    background-size: 35px;
}
.Snow {
    background-image: url(./img/icons8-зима-48.png) ;
    background-size: 35px;
}
.night {
    background-image: url(./img/icons8-яркая-луна-48.png) ;
    background-size: 35px;
}
.day {
    background-image: url(./img/icons8-солнце-48.png) ;
    background-size: 35px;
}

.weather-block {
    border-radius: 20px;
    border: 2px solid #20abd8;
}

.hour-weather::-webkit-scrollbar, .day-weather::-webkit-scrollbar{
    border-radius: 30px;
    width: 10px;
    height: 10px;
  }
  
.hour-weather::-webkit-scrollbar-track, .day-weather::-webkit-scrollbar-track{
    width: 200px;
    border-radius: 30px;
    -webkit-box-shadow: 5px 5px 5px -5px rgba(255, 255, 255, .25) inset;
    background-color: #123c58;
  }
  
.hour-weather::-webkit-scrollbar-thumb, .day-weather::-webkit-scrollbar-thumb{
    width: 100px;
    border-radius: 30px;
    background-color: #356184;
    background-image: -webkit-gradient(linear, 0 0, 0 100%,
                      color-stop(.5, rgba(34, 60, 80, 0.2)),
                      color-stop(.5, transparent), to(right));
  }